section {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.try {
  font-size: 2em;
}

.input_line {
  margin-bottom: 10px;
}

.input_line input {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 5px;
  text-align: center;
  font-size: 2.5em;
}

button {
  margin-top: 20px;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
}

.hidden_btn {
  display: none;
}
